<!DOCTYPE html>
<html>
<head><title>Add Doctor</title></head>
<li><link rel="stylesheet" href="{{url_for('static',filename='main.css')}}"></li>
    <body>
    <h2>Add Doctor</h2>
    <form method="POST">
        doc_id:<input type="text" name="doc_id" required><br>
        Name: <input type="text" name="name" required><br>
        Specialization: <input type="text" name="specialization" required><br>
        Phone: <input type="text" name="phone_no" required><br>
        Clinic:
        <select name="clinic_id">
            {% for clinic in clinics %}
                <option value="{{ clinic[0] }}">{{ clinic[1] }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Add Doctor">
    </form>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
